<nav class="w-full">
    <ul class="flex">
        <li class="px-4">
            <a href="/">Home</a>
        </li>
        <li class="px-4">
            <a href="/about">About</a>
        </li>

        <li class="px-4">
            <a href="/blogs/create">New Blog</a>
        </li>

    </ul>
</nav>
