<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lyn |
    <%= title %></title>

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body>
<%- include('./partials/nav.ejs') %>

        <h1 class="mt-4">About</h1>
    </body>
</html>
