<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lyn |
    <%= title %></title>

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body>
<nav class="w-full">
    <ul class="flex">
        <li class="px-4">
            <a href="/">Home</a>
        </li>
        <li class="px-4">
            <a href="/about">About</a>
        </li>

        <li class="px-4">
            <a href="/blogs/create">New Blog</a>
        </li>

    </ul>
</nav>

        <h1 class="mt-4">About</h1>
    </body>
</html>
