<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lyn | <%= title %></title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body class="bg-gray-200">
    
        <nav class="w-full">
            <ul class="flex">
                <li class="px-4">
                    <a href="/">Home</a>
                </li>
                <li class="px-4">
                    <a href="/about">About</a>
                </li>

                <li class="px-4">
                    <a href="/blogs/create">New Blog</a>
                </li>

            </ul>
        </nav>
        <h1 class="mt-4">Create Blog Post</h1>

        <div class="w-full md:w-2/3">
          <form action="">
            <div class="w-full">
              <label for="">Blog Title</label>
              <input type="text" name="title" id="">
            </div>
            <div class="w-full">
              <label for="">Blog snipper</label>
              <input type="text" name="snippet" id="">
            </div>
            <div class="w-full">
              <label for="">Blog Description</label>
              <textarea name="body" id="" required cols="30" rows="10"></textarea>
            </div>

            <div class="w-full">
              <button>submit</button>
            </div>
          </form>
        </div>
    </body>
</html>
