<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

        <h1 class="mt-4">Create Blog Post</h1>

        <div class="w-full md:w-2/3">
          <form action="/blogs" method="POST">
            <div class="w-full">
              <label for="">Blog Title</label>
              <input type="text" name="title" id="" required>
            </div>
            <div class="w-full">
              <label for="">Blog snippets</label>
              <input type="text" name="snippet" id="" required>
            </div>
            <div class="w-full">
              <label for="">Blog Description</label>
              <textarea name="body" id="" required cols="30" rows="10" required></textarea>
            </div>

            <div class="w-full">
              <button>submit</button>
            </div>
          </form>
        </div>
<%- include('./partials/footer.ejs') %>

